.wrapper{
  max-width: 960px;
  margin: 20px auto;
}


h1  {
color: purple;
text-align: center;
font-size: 85px;
}

section {
color: purple;
text-align: center;
font-size: 75px;
height: 100vh;
}

footer {
color: purple;
text-align: center;
font-size: 50px;
}
